* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select:text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
::-webkit-scrollbar {
    display: none;
}
body{
    font-size: 16px;
    background-color: rgb(44, 49, 58);
}
a{
    text-decoration: none;
    width: min-content;
    margin: 0 auto;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 85vh;
}
.logo{
    width: 35em;
    margin: 0 auto;
    margin-bottom: 1em;
    transition-duration: 0.25s;
}
.logo:hover{
    transform: translateY(-10%);
}
.divider, .divider2{
    width: 40em;
    margin: 0 auto;
}
.logo2{
    width: 20em;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 10%;
    transition-duration: 0.5s;
}
.logo2:hover{
    transform: scale(110%);
}
.divider2{
    transform: rotate(180deg);
    margin-bottom: 2em;
}
header h2{
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 4em;
    color: white;
    width: 100%;
    margin-bottom: 10vh;
}
main{
    background-color: rgb(71, 69, 109);
    height: max-content;
    padding-bottom: 5em;
}
section h2{
    text-align: center;
    color: white;
    font-family: "VT323", monospace;
    font-size: 5em;
    padding-top: 10vh
}
section .divider{
    display: block;
    margin-top: 1em;
    margin-bottom: 4em;
}
.sec1{
    display: grid;
    gap: 4em;
    grid-auto-flow: dense;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    justify-content: center;
    text-align: center;
    background-color: rgb(71, 69, 109);
}
section h3{
    font-size: 3em;
    color:white;
    font-family: "VT323", monospace;
}
.logoapp{
    max-width: 25%;
    margin-top: 3vh;
    transition-duration: 0.5s;
}
.logoapp:hover{
    transform: translateY(-5%) scale(110%);
}
section p{
    text-align: left;
    width: 80%;
    margin-left: 2em;
    margin-top: 2em;
    color: white;
    font-size: 2em;
    font-family: "Inconsolata", monospace;
    
}
.cestudios{
    background-color: rgb(116, 112, 189);
    height: 70vh;
}
.cestudios div, .videor div{
    text-align: center;
}
.mapa, .video{
    border-radius: 15%;
    height: 30em;
    width: 30em;
    object-fit: cover;
}
.videor{
    background-color: rgb(115, 108, 245);
    height: 70vh;
}
.correo{
    width: 25em;
    transition-duration: 0.75s;
}
.correo:hover{
    transform: translateY(-10%) rotate(10deg);
}
.contacto{
    background-color: rgb(75, 68, 216);
    height: 60vh;
}
.contacto div{
    text-align: center;
}
/* font-family: 'VT323', monospace;
   font-family: "Inconsolata", monospace;
   #309130
   #FFFFFF
   #0075CA
   #A07D51
   #000000 */

@media (max-width: 768px){
    body{
        font-size: 12px;
    }
    main{
        height: max-content;
    }
    .sec1{
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
    }
    .divider, .divider2{
        width: 30em;
    }
    section div{
        margin-bottom: 5vh;
    }
    section h3{
        width: 80%;
        margin: 0 auto;
    }
    section p{
        width: 90%;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
}
@media (max-height: 1220px){
    body{
        font-size: 12px;
    }
}
@media (max-height: 900px){
    body{
        font-size: 10px;
    }
}
@media (max-height: 720px){
    body{
        font-size: 8px;
    }
}
@media (max-height: 590px){
    body{
        font-size: 7px;
    }
}
@media (max-height: 490px){
    body{
        font-size: 6px;
    }
}
@media (max-height: 420px){
    body{
        font-size: 5px;
    }
}
@media (max-height: 345px){
    body{
        font-size: 4px;
    }
}
@media (max-height: 275px){
    body{
        font-size: 3px;
    }
}
